<form action="/expad/services/admin/api/password" method="POST" id="_pform">
        <div class="row">
            <div class="col-md-12 text-center">Change Password</div>
        </div>
        <div class="row">
            <div class="col-md-12"><p><span class="label label-danger"> INFO: Please fill in the form below and click the submit button to change your password. </span></p></div>
        </div>  
        <div class="row">
            <div class="col-md-12"><h3 id="info"></h3></div>
        </div>
        <div class="row">
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-4"><b>USER ID:</b></div>
            <div class="col-md-4"><input class="form-control" id="USER_ID" name="USER_ID" size="32" value="" type="text"/></div>
        </div>
        <div class="row">
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-4"><b>Old Password:</b></div>
            <div class="col-md-4"><input class="form-control" id="OLDPASS" name="OLDPASS" size="32" value="" type="password" /></div>
        </div>
        <div class="row">
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-4"><label for="newpassword"><b>New Password</b></label></div>
            <div class="col-md-4"><input class="form-control" id="PASS1" name="PASS1" size="32" maxlength="31" value="" type="password" /></div>
        </div>
        <div class="row">
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-4"><b>Verify new password:</b> </div>
            <div class="col-md-4"><input class="form-control" id="PASS2" name="PASS2" size="32" maxlength="31" value="" type="password" /></div>
        </div>
        <div class="row">
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-8"><input class="form-control" id="expiry" name="expiry" value="60" type="hidden" /></div>
        </div>
        <div class="row">
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-8">         
                <button type="submit" class="btn btn-success btn-lg btn-block">Change Password</button> </div>
        </div>
</form>